.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main {
    width: 80%;
}
.main__logo {
    position: absolute;
    top: 5px;
    left: 20px;
}
.main__logo__brand {
    width: 70px;
    height: 50px;
}
.main__header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.main__header__label {
    font-size: 14px;
    padding-bottom: 10px;
}
.main__header__input {
    font-size: 48px;
    font-weight: bolder;
    background-color: #000;
    border: none;
    color: #fafafa;
    border-bottom: solid .5px;
}
.main__main-label {
    font-size: 18px;
    margin-bottom: 30px;
}
.cards {
    padding-top: 40px;
    width: 100%;
}
ul, li {
    display: inline-block;
}
.cards__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards__card {
    width: 200px;
    padding: 5px;    
    margin-bottom: 10px;
}
.card__msg {
    padding-top: 50px;
    color: rgba(255, 255, 255, .1)
}
