.play {
    width: 100%;
    height: 70vh;;
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
.play__album {
    display: flex;
    width: 30%;
    justify-content: center;
    padding-right: 40px;
}
.play__album__itens {
    width: 90%;
}
.main__header a {
    text-decoration: none;
    color: #fafafa;
    font-size: 16px;
}
.play__album__capa {
    width: 100%;
    border-radius: 50%;
}
.play__album__capa-empty {
    width: 100%;
    border-radius: 50%;
    background-color: red;
}
.play__album__title {
    text-align: center;
    color: #fafafa;
    padding: 5px;
}
.play__list {
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.play__list__player {
    padding-bottom: 25px;
    display: inline-grid;
}
.play__list__player audio {
    height: 25px;
}
.play__list ul {
    padding-bottom: 5px;
}
.play__list ul li {
    display: inline-block;
}
.play__list ul li:nth-child(1) {
    padding-right: 10px;
}

@media (max-width: 680px) {
    .play {
        flex-direction: column;
    }
    .play__album {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: #fafafa solid .5px;
        padding-right: 0;
    }
}