.photo {
    background-color: red;
}
.photo__api {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.title {
    text-align: center;
    padding: 5px;
    text-decoration: none;
    width: 200px;
    color: #fafafa;
}
.title a {
    text-decoration: none;
    color: #fafafa;
}