.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.home__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}
.home__logo {
    width: 400px;
    height: 300px;
    animation: logo__spotify 3s ease infinite alternate;
}
@keyframes logo__spotify {
    from {
        transform: scale(1.1)
    }
    to {
        transform: scale(1);
    }
}

.home__button {
    width: 150px;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    transition: 1s;
    text-decoration: none;
}
.home__button:hover {
    background-color: #50D850;
    color: #000;
    font-weight: bold;
}